<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {name, title}) %>
<body class="container-main">
    <%- include('../partials/headerMain.ejs') %>
    <main class="main">
        <section class="form">
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <h3>crear producto</h3>
                <div>
                    <label for="name">Nombre</label>
                    <input class="input-edition" type="text" name="name" id="name" required>
                </div>
                <div>
                    <label for="brand_id">Marca</label>
                    <select name="brand_id" id="brand_id">
                        <option value=""></option>
                        <% brands.forEach(brand => { %>
                            <option value="<%= brand.id %>"><%= brand.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label for="category_id">Categoría</label>
                    <select name="category_id" id="category_id">
                        <option value=""></option>
						<% categories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.type %></option>
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label for="description">Características Generales</label>
                    <input class="input-edition" type="text" name="description" id="description" required>
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input class="input-edition" type="number" name="price" id="price" required>
                </div>
                <div>
                    <label for="discount">Descuento</label>
                    <input class="input-edition" type="number" name="discount" id="discount" required>
                </div>
                <div>
                    <label for="stock">Stock</label>
                    <input class="input-edition" type="number" name="stock" id="stock" required>
                </div>
                <div>
                    <label for="image_primary">Imagen Principal</label>
                    <input type="file" name="image_primary" id="image_primary" accept=".jpg, .png, .jpeg">
                </div>
                <div>
                    <label for="image_secondary">Imagen Secundaria</label>
                    <input type="file" name="image_secondary" id="image_secondary" accept=".jpg, .png, .jpeg">
                </div>
                <div>
                    <label for="image_tertiary">Imagen Terciaria</label>
                    <input type="file" name="image_tertiary" id="image_tertiary" accept=".jpg, .png, .jpeg">
                </div>
                <div class="login creation">
                    <div>
                        <button type="reset">borrar datos</button>
                    </div>
                    <div>
                        <button type="submit">agregar</a></button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>