<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {name, title}) %>
<body class="container-main">
    <%- include('../partials/headerMain.ejs') %>
    <main class="main">
        <section class="form">
            <form action="/users/edit/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data" id="register">
                <h3>editar usuario</h3>
                <div id="container-firstname">
                    <label for="firstname">Nombre</label>
                    <input 
                        class="input-padding form-control <%= (locals.errors && errors.firstname) ? 'is-invalid' : (locals.old ? 'is-valid' : 'input-border-initial') %>" 
                        type="text" 
                        name="firstname" 
                        id="firstname"
                        value="<%= user.firstname %>"
                    >
                    <% if (locals.errors && errors.firstname) { %>
                        <p class="feedback" style="color: red;"><%= errors.firstname.msg %></p>
                    <% } %>
                    <p class="none msg-error">El nombre debe tener de 2 a 16 caracteres y no puede contener caracteres especiales</p>
                </div>
                <div id="container-lastname">
                    <label for="lastname">Apellido</label>
                    <input 
                        class="input-padding form-control <%= (locals.errors && errors.lastname)? 'is-invalid' : (locals.old ? 'is-valid' : 'input-border-initial') %>" 
                        type="text" 
                        name="lastname" 
                        id="lastname"
                        value="<%= user.lastname %>"
                    >
                    <% if (locals.errors && errors.lastname) { %>
                        <p class="feedback" style="color: red;"><%= errors.lastname.msg %></p>
                    <% } %>
                    <p class="none msg-error">El nombre debe tener de 2 a 16 caracteres y no puede contener caracteres especiales</p>
                </div>
                <div id="container-phone">
                    <label for="phone">Teléfono</label>
                    <input 
                        class="input-padding form-control <%= (locals.errors && errors.phone) ? 'is-invalid' : (locals.old ? 'is-valid' : 'input-border-initial') %>"
                        type="text" 
                        name="phone" 
                        id="phone"
                        value="<%= user.phone %>"
                    >
                    <% if (locals.errors && errors.phone) { %>
                        <p class="feedback" style="color: red;"><%= errors.phone.msg %></p>
                    <% } %>
                    <p class="none msg-error">El teléfono debe contener números con un máximo de 10 dígitos</p>
                </div>
                <div id="container-image">
                    <label for="avatar">Imagen</label>
                    <input 
                        type="file" 
                        name="avatar" 
                        id="avatar"
                        value="<%= user.avatar %>"
                    >
                    <% if (locals.errors && errors.avatar) { %>
                        <p class="feedback" style="color: red;"><%= errors.avatar.msg %></p>
                    <% } %>
                </div>
                <div class="login edition">
                    <div class="delete">
						<button type="submit" form="delete">eliminar cuenta</button>
                    </div>
                    <div>
                        <button type="submit">subir cambios</button>
                    </div>
                </div>
            </form>
        </section>
        <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST" id="delete"></form>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/registerValidator.js"></script>
</body>
</html>